* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.content {
  display: flex;
  margin-top: 20px;
}

.chats {
  width: 25%;
  background-color: rgb(49, 49, 49);
}
.messages {
  width: 75%;
  display: flex;
  min-height: 88vh;
  background-color: rgb(15, 11, 11);
  align-items: flex-end;
}
