* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1dd6f7;
  background-color: white;
  margin-top: 200px;
}

.text h1 {
  text-align: center;
  color: lime;
}

.text h2 {
  margin-top: 30px;
  text-align: center;
  color: lime;
}

.container {
  margin: 20px auto;
  max-width: 700px;
}

.area {
  border: black solid 1px;
  padding: 10px 10px;
  flex-direction: column;
  text-align: right;
}

textarea {
  width: 250px;
  padding: 5px 5px;
}
